body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr; /* One column */
    grid-auto-rows: auto; /* Automatically sized rows */
    gap: 10px; /* Gap between grid items */
    
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 500;
}
h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}
.events {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr)); 
    gap: 20px;
       /* Each item spans the full width of the grid */
       grid-column: 1 / -1; 
       /* Each item is placed in its own row */
       grid-row: span 1; 
}
.card-content label {
    font-size: 20px;
    font-weight: 400;
}
.trio{
    display: flex;
    justify-content: space-between;
}
.event-card {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}
.event-card:hover {
    transform: translateY(-5px);
}
.card-image img {
    width: 98%;
    height: 300px;
    display:block;
    object-fit: cover;
    border-radius:0 0 10px 10px;
    padding:0 0 10px 10px ;
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
}
.card-content {
    padding: 20px;
}
.card-content .event-name {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.sport, .date-time, .location {
    margin: 5px 0;
    border-radius: 10px;
    padding: 5px 10px;
    display: inline-block;
}
.date-time {
    
}
.prize {
    display: flex;
    flex-direction: column;
    
}
.btn {
    display: inline-block;
    border-radius: 10px;
    padding: 5px 10px;
    margin:5px 0;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
}
.btn:hover {
    background-color: #0056b3;
}
